In [0]:
dbutils.widgets.text("env","")
env = dbutils.widgets.get("env")

dbutils.widgets.text("storage_account_name","")
storage_account_name = dbutils.widgets.get("storage_account_name")

dbutils.widgets.text("adls_url","")
adls_url = dbutils.widgets.get("adls_url")

dbutils.widgets.text("logic_app_url","")
logic_app_url = dbutils.widgets.get("logic_app_url")

dbutils.widgets.text("email_id","")
email_id = dbutils.widgets.get("email_id")

dbutils.widgets.text("aws_source_bucket","")
aws_source_bucket = dbutils.widgets.get("aws_source_bucket")

In [0]:
spark.sql(f"""
    insert overwrite metadata_schema.tbl_source_control values
    ('{aws_source_bucket}', '{storage_account_name}', '{adls_url}', 'landing', '{logic_app_url}', '{email_id}') 
""")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
spark.sql(f"""
    insert into metadata_schema.tbl_parameters values
    (201, 'telecom/dim_cities','2001-01-01T15:13:23.963Z','{env}_raw', 'dim_cities', '{env}_intermediate', 'dim_cities', NULL,NULL,NULL,NULL),
    (202, 'telecom/dim_date','2001-01-01T15:13:23.963Z','{env}_raw', 'dim_date', '{env}_intermediate', 'dim_date', NULL,NULL,NULL,NULL),
    (204, 'telecom/dim_plan','2001-01-01T15:13:23.963Z','{env}_raw', 'dim_plan', '{env}_intermediate', 'dim_plan', NULL,NULL,NULL,NULL)
""")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
spark.sql(f"""
    insert into metadata_schema.tbl_parameters values
    (205, 'telecom/fact_company','2001-01-01T15:13:23.963Z','{env}_raw', 'fact_metrices_share', '{env}_intermediate', 'fact_metrices_share', NULL,NULL,NULL,NULL),
    (206, 'telecom/fact_market','2001-01-01T15:13:23.963Z','{env}_raw', 'fact_market_share', '{env}_intermediate', 'fact_market_share', NULL,NULL,NULL,NULL),
    (207, 'telecom/fact_plan','2001-01-01T15:13:23.963Z','{env}_raw', 'fact_plan_revenue', '{env}_intermediate', 'fact_plan_revenue', NULL,NULL,NULL,NULL)
""")

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]

In [0]:
%sql
select * from metadata_schema.tbl_source_control;

aws_source_bucket,storage_account,adls_url,container_name,logic_app_url,email_id
telecom-adf,csadlsgen2project2,https://csadlsgen2project2.dfs.core.windows.net/,landing,https://prod-13.centralindia.logic.azure.com:443/workflows/31906722475143579d25daded276186b/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=4Lgbpni28PAA93QRNi0L9wQ3wNVmArg5TDb2-dJTDGo,mahakajju30@gmail.com

In [0]:
%sql
select * from metadata_schema.tbl_parameters;

job_id,source_file_path,watermark_column,raw_schema,raw_tbl,intermediate_schema,intermediate_tbl,intermediate_query,curated_schema,curated_tbl,curated_query
205,telecom/fact_company,2024-10-19T21:46:25Z,dev_raw,fact_metrices_share,dev_intermediate,fact_metrices_share,"merge into {intermediate_schema}.{intermediate_table} target using temp_view source ON source.seq_no = target.seq_no WHEN MATCHED THEN UPDATE SET target.dated = source.dated, target.city_code = source.city_code, target.company = source.company, target.company_revenue_crores = source.company_revenue_crores, target.arpu = source.arpu, target.active_users_lakhs = source.active_users_lakhs, target.unsubscribed_users_lakhs = source.unsubscribed_users_lakhs, target.seq_no = source.seq_no, target.last_inserted_dttm_azure = source.last_inserted_dttm_azure, target.last_updated_dttm_aws = source.last_updated_dttm_aws WHEN NOT MATCHED THEN INSERT (dated, city_code, company, company_revenue_crores, arpu, active_users_lakhs, unsubscribed_users_lakhs, seq_no, last_inserted_dttm_azure, last_updated_dttm_aws, loadId) VALUES (source.dated, source.city_code, source.company, source.company_revenue_crores, source.arpu, source.active_users_lakhs, source.unsubscribed_users_lakhs, source.seq_no, source.last_inserted_dttm_azure, source.last_updated_dttm_aws, source.loadId)",null,null,null
207,telecom/fact_plan,2024-10-19T21:47:10Z,dev_raw,fact_plan_revenue,dev_intermediate,fact_plan_revenue,"merge into {intermediate_schema}.{intermediate_table} target USING temp_view source ON target.loadId = source.loadId WHEN MATCHED THEN UPDATE SET target.dated = source.dated, target.city_code = source.city_code, target.plans = source.plans, target.plan_revenue_crores = source.plan_revenue_crores, target.seq_no = source.seq_no, target.last_inserted_dttm_azure = source.last_inserted_dttm_azure, target.last_updated_dttm_aws = source.last_updated_dttm_aws WHEN NOT MATCHED THEN INSERT (dated, city_code, plans, plan_revenue_crores, seq_no, last_inserted_dttm_azure, last_updated_dttm_aws, loadId) VALUES (source.dated, source.city_code, source.plans, source.plan_revenue_crores, source.seq_no, source.last_inserted_dttm_azure, source.last_updated_dttm_aws, source.loadId)",null,null,null
201,telecom/dim_cities,2024-10-20T22:07:21Z,dev_raw,dim_cities,dev_intermediate,dim_cities,null,null,null,null
204,telecom/dim_plan,2024-10-20T15:12:52Z,dev_raw,dim_plan,dev_intermediate,dim_plan,null,null,null,null
202,telecom/dim_date,2024-10-20T15:12:19Z,dev_raw,dim_date,dev_intermediate,dim_date,null,null,null,null
206,telecom/fact_market,2024-10-19T21:46:48Z,dev_raw,fact_market_share,dev_intermediate,fact_market_share,"merge into {intermediate_schema}.{intermediate_table} target using temp_view source on source.seq_no = target.seq_no when matched then update set target.dated = source.dated, target.city_code = source.city_code, target.tmv_city_crores = source.tmv_city_crores, target.company = source.company, target.ms_pct = source.ms_pct, target.seq_no = source.seq_no, target.last_inserted_dttm_azure = source.last_inserted_dttm_azure, target.last_updated_dttm_aws = source.last_updated_dttm_aws when not matched then insert (dated, city_code, tmv_city_crores, company, ms_pct, seq_no, last_inserted_dttm_azure, last_updated_dttm_aws, loadId) values (source.dated, source.city_code, source.tmv_city_crores, source.company, source.ms_pct, source.seq_no, source.last_inserted_dttm_azure, source.last_updated_dttm_aws, source.loadId)",null,null,null

In [0]:
%sql
select param.*, control.* from metadata_schema.tbl_source_control as control, metadata_schema.tbl_parameters as param where param.job_id=201;

job_id,source_file_path,watermark_column,raw_schema,raw_tbl,intermediate_schema,intermediate_tbl,intermediate_query,curated_schema,curated_tbl,curated_query,aws_source_bucket,storage_account,adls_url,container_name,logic_app_url,email_id
201,telecom/dim_cities,2001-01-01T15:13:23.963Z,dev_raw,dim_cities,dev_intermediate,dim_cities,null,null,null,null,telecom-adf,csadlsgen2project2,https://csadlsgen2project2.dfs.core.windows.net/,landing,,mahakajju30@gmail.com

In [0]:
%sql
update metadata_schema.tbl_parameters set intermediate_query = 'merge into {intermediate_schema}.{intermediate_table} target
using temp_view source
on source.seq_no = target.seq_no
when matched then
update set
target.dated = source.dated,
target.city_code = source.city_code,
target.tmv_city_crores = source.tmv_city_crores,
target.company = source.company,
target.ms_pct = source.ms_pct,
target.seq_no = source.seq_no,
target.last_inserted_dttm_azure = source.last_inserted_dttm_azure,
target.last_updated_dttm_aws = source.last_updated_dttm_aws,
target.loadId = source.loadId
when not matched then
insert (target.dated,
      target.city_code,
      target.tmv_city_crores,
      target.company,
      target.ms_pct,
      target.seq_no,
      target.last_inserted_dttm_azure,
      target.last_updated_dttm_aws,
      target.loadId)
values (source.dated, source.city_code, source.tmv_city_crores, source.company, source.ms_pct, source.seq_no, source.last_inserted_dttm_azure, source.last_updated_dttm_aws, source.loadId)'
where job_id = 206;

num_affected_rows
1

In [0]:
%sql
update metadata_schema.tbl_parameters set intermediate_query = 'merge into {intermediate_schema}.{intermediate_table} target
using temp_view source
ON source.seq_no = target.seq_no
WHEN MATCHED THEN
    UPDATE SET
        target.dated = source.dated,
        target.city_code = source.city_code,
        target.company = source.company,
        target.company_revenue_crores = source.company_revenue_crores,
        target.arpu = source.arpu,
        target.active_users_lakhs = source.active_users_lakhs,
        target.unsubscribed_users_lakhs = source.unsubscribed_users_lakhs,
        target.seq_no = source.seq_no,
        target.last_inserted_dttm_azure = source.last_inserted_dttm_azure,
        target.last_updated_dttm_aws = source.last_updated_dttm_aws,
        target.loadId = source.loadId
WHEN NOT MATCHED THEN
    insert (
      target.dated,
      target.city_code,
      target.company,
      target.company_revenue_crores,
      target.arpu,
      target.active_users_lakhs,
      target.unsubscribed_users_lakhs,
      target.seq_no,
      target.last_inserted_dttm_azure,
      target.last_updated_dttm_aws,
      target.loadId
    )
    values (
      source.dated,
      source.city_code,
      source.company,
      source.company_revenue_crores,
      source.arpu,
      source.active_users_lakhs,
      source.unsubscribed_users_lakhs,
      source.seq_no,
      source.last_inserted_dttm_azure,
      source.last_updated_dttm_aws,
      source.loadId
    )'
where job_id = 205

num_affected_rows
1

In [0]:
%sql
update metadata_schema.tbl_parameters set intermediate_query = 'merge into {intermediate_schema}.{intermediate_table} target
USING temp_view source
ON target.loadId = source.loadId
WHEN MATCHED THEN
    UPDATE SET
        target.dated = source.dated,
        target.city_code = source.city_code,
        target.plans = source.plans,
        target.plan_revenue_crores = source.plan_revenue_crores,
        target.seq_no = source.seq_no,
        target.last_inserted_dttm_azure = source.last_inserted_dttm_azure,
        target.last_updated_dttm_aws = source.last_updated_dttm_aws,
        target.loadId = source.loadId
WHEN NOT MATCHED THEN
    INSERT (target.dated,
      target.city_code,
      target.plans,
      target.plan_revenue_crores,
      target.seq_no,
      target.last_inserted_dttm_azure,
      target.last_updated_dttm_aws,
      target.loadId)
    VALUES (source.dated, source.city_code, source.plans, source.plan_revenue_crores, source.seq_no, source.last_inserted_dttm_azure, source.last_updated_dttm_aws, source.loadId)'
where job_id = 207;

num_affected_rows
1

In [0]:
%sql
update metadata_schema.tbl_parameters set curated_query = "WITH result AS (
    SELECT
        dd.before_or_after_5g,
        cities.city_name,
        dd.month_name,
        dd.time_period,
        pl.plan_description,
        revenue.*
    FROM 
        {intermediate_schema}.fact_plan_revenue AS revenue
    JOIN 
        {intermediate_schema}.dim_date AS dd ON revenue.dated = dd.dated
    JOIN 
        {intermediate_schema}.dim_cities AS cities ON revenue.city_code = cities.city_code
    JOIN 
        {intermediate_schema}.dim_plan AS pl ON revenue.plans = pl.plan
)
MERGE INTO {curated_schema}.{curated_table} AS target
USING result AS source
ON source.seq_no = target.seq_no
WHEN MATCHED THEN
    UPDATE SET 
        target.before_or_after_5g = source.before_or_after_5g,
        target.city_name = source.city_name,
        target.month_name = source.month_name,
        target.time_period = source.time_period,
        target.plan_description = source.plan_description,
        target.dated = source.dated,
        target.city_code = source.city_code,
        target.plan = source.plans,
        target.plan_revenue_crores = source.plan_revenue_crores,
        target.seq_no = source.seq_no,
        target.last_inserted_dttm_azure = source.last_inserted_dttm_azure,
        target.last_updated_dttm_aws = source.last_updated_dttm_aws,
        target.loadId = '{loadId}'
WHEN NOT MATCHED THEN
    INSERT (
        target.before_or_after_5g,
        target.city_name,
        target.month_name,
        target.time_period,
        target.plan_description,
        target.dated,
        target.city_code,
        target.plan,
        target.plan_revenue_crores,
        target.seq_no,
        target.last_inserted_dttm_azure,
        target.last_updated_dttm_aws,
        target.loadId
    )
    VALUES (
        source.before_or_after_5g,
        source.city_name,
        source.month_name,
        source.time_period,
        source.plan_description,
        source.dated,
        source.city_code,
        source.plans,
        source.plan_revenue_crores,
        source.seq_no,
        source.last_inserted_dttm_azure,
        source.last_updated_dttm_aws,
        '{loadId}'
    )
  "
  where job_id = 210;

num_affected_rows
1

In [0]:
%sql
insert into metadata_schema.tbl_parameters values
(208,NULL,NULL,NULL,NULL,'dev_intermediate',NULL,NULL,'dev_curated','metrices_share',"
WITH result AS (
    SELECT 
        dd.before_or_after_5g,
        cities.city_name,
        dd.month_name,
        dd.time_period,
        metrix.*
    FROM 
        {intermediate_schema}.fact_metrices_share AS metrix
    JOIN 
        {intermediate_schema}.dim_date AS dd ON metrix.dated = dd.dated
    JOIN 
        {intermediate_schema}.dim_cities AS cities ON metrix.city_code = cities.city_code
)
MERGE INTO {curated_schema}.{curated_table} AS target
USING result AS source
ON source.seq_no = target.seq_no
WHEN MATCHED THEN 
    UPDATE SET
        target.before_or_after_5g = source.before_or_after_5g,
        target.city_name = source.city_name,
        target.month_name = source.month_name,
        target.time_period = source.time_period,
        target.dated = source.dated,
        target.city_code = source.city_code,
        target.company = source.company,
        target.company_revenue_crores = source.company_revenue_crores,
        target.arpu = source.arpu,
        target.active_users_lakhs = source.active_users_lakhs,
        target.unsubscribed_users_lakhs = source.unsubscribed_users_lakhs,
        target.seq_no = source.seq_no,
        target.last_inserted_dttm_azure = source.last_inserted_dttm_azure,
        target.last_updated_dttm_aws = source.last_updated_dttm_aws,
        target.loadId = '{loadId}'
WHEN NOT MATCHED THEN
    INSERT (
        target.before_or_after_5g,
        target.city_name,
        target.month_name,
        target.time_period,
        target.dated,
        target.city_code,
        target.company,
        target.company_revenue_crores,
        target.arpu,
        target.active_users_lakhs,
        target.unsubscribed_users_lakhs,
        target.seq_no,
        target.last_inserted_dttm_azure,
        target.last_updated_dttm_aws,
        target.loadId
    )
    VALUES (
        source.before_or_after_5g,
        source.city_name,
        source.month_name,
        source.time_period,
        source.dated,
        source.city_code,
        source.company,
        source.company_revenue_crores,
        source.arpu,
        source.active_users_lakhs,
        source.unsubscribed_users_lakhs,
        source.seq_no,
        source.last_inserted_dttm_azure,
        source.last_updated_dttm_aws,
        '{loadId}'
    )
"),
(209,NULL,NULL,NULL,NULL,'dev_intermediate',NULL,NULL,'dev_curated','market_share',"
WITH result AS (
    SELECT 
        dd.before_or_after_5g,
        cities.city_name,
        dd.month_name,
        dd.time_period,
        fm.*
    FROM 
        {intermediate_schema}.fact_market_share AS fm
    JOIN 
        {intermediate_schema}.dim_date AS dd ON dd.dated = fm.dated
    JOIN 
        {intermediate_schema}.dim_cities AS cities ON cities.city_code = fm.city_code
)
MERGE INTO {curated_schema}.{curated_table} AS target
USING result AS source
ON source.seq_no = target.seq_no
WHEN MATCHED THEN 
    UPDATE SET
        target.before_or_after_5g = source.before_or_after_5g,
        target.city_name = source.city_name,
        target.month_name = source.month_name,
        target.time_period = source.time_period,
        target.dated = source.dated,
        target.city_code = source.city_code,
        target.tmv_city_crores = source.tmv_city_crores,
        target.company = source.company,
        target.ms_pct = source.ms_pct,
        target.seq_no = source.seq_no,
        target.last_inserted_dttm_azure = source.last_inserted_dttm_azure,
        target.last_updated_dttm_aws = source.last_updated_dttm_aws,
        target.loadId = '{loadId}'
WHEN NOT MATCHED THEN
    INSERT (
        target.before_or_after_5g,
        target.city_name,
        target.month_name,
        target.time_period,
        target.dated,
        target.city_code,
        target.tmv_city_crores,
        target.company,
        target.ms_pct,
        target.seq_no,
        target.last_inserted_dttm_azure,
        target.last_updated_dttm_aws,
        target.loadId
    )
    VALUES (
        source.before_or_after_5g,
        source.city_name,
        source.month_name,
        source.time_period,
        source.dated,
        source.city_code,
        source.tmv_city_crores,
        source.company,
        source.ms_pct,
        source.seq_no,
        source.last_inserted_dttm_azure,
        source.last_updated_dttm_aws,
        '{loadId}'
    )
"),
(210,NULL,NULL,NULL,NULL,'dev_intermediate',NULL,NULL,'dev_curated','plan_revenue',"
WITH result AS (
    SELECT
        dd.before_or_after_5g,
        cities.city_name,
        dd.month_name,
        dd.time_period,
        pl.plan_description,
        revenue.*
    FROM 
        {intermediate_schema}.fact_plan_revenue AS revenue
    JOIN 
        {intermediate_schema}.dim_date AS dd ON revenue.dated = dd.dated
    JOIN 
        {intermediate_schema}.dim_cities AS cities ON revenue.city_code = cities.city_code
    JOIN 
        {intermediate_schema}.dim_plan AS pl ON revenue.plans = pl.plan
)
MERGE INTO {curated_schema}.{curated_table} AS target
USING result AS source
ON source.seq_no = target.seq_no
WHEN MATCHED THEN
    UPDATE SET 
        target.before_or_after_5g = source.before_or_after_5g,
        target.city_name = source.city_name,
        target.month_name = source.month_name,
        target.time_period = source.time_period,
        target.plan_description = source.plan_description,
        target.dated = source.dated,
        target.city_code = source.city_code,
        target.plan = source.plan,
        target.plan_revenue_crores = source.plan_revenue_crores,
        target.seq_no = source.seq_no,
        target.last_inserted_dttm_azure = source.last_inserted_dttm_azure,
        target.last_updated_dttm_aws = source.last_updated_dttm_aws,
        target.loadId = '{loadId}'
WHEN NOT MATCHED THEN
    INSERT (
        target.before_or_after_5g,
        target.city_name,
        target.month_name,
        target.time_period,
        target.plan_description,
        target.dated,
        target.city_code,
        target.plan,
        target.plan_revenue_crores,
        target.seq_no,
        target.last_inserted_dttm_azure,
        target.last_updated_dttm_aws,
        target.loadId
    )
    VALUES (
        source.before_or_after_5g,
        source.city_name,
        source.month_name,
        source.time_period,
        source.plan_description,
        source.dated,
        source.city_code,
        source.plan,
        source.plan_revenue_crores,
        source.seq_no,
        source.last_inserted_dttm_azure,
        source.last_updated_dttm_aws,
        '{loadId}'
    )
")

num_affected_rows,num_inserted_rows
3,3

In [0]:
%sql
select * from metadata_schema.tbl_parameters;

job_id,source_file_path,watermark_column,raw_schema,raw_tbl,intermediate_schema,intermediate_tbl,intermediate_query,curated_schema,curated_tbl,curated_query
207,telecom/fact_plan,2001-01-01T15:13:23.963Z,dev_raw,fact_plan_revenue,dev_intermediate,fact_plan_revenue,"merge into {intermediate_schema}.{intermediate_table} target USING temp_view source ON target.loadId = source.loadId WHEN MATCHED THEN UPDATE SET target.dated = source.dated, target.city_code = source.city_code, target.plans = source.plans, target.plan_revenue_crores = source.plan_revenue_crores, target.seq_no = source.seq_no, target.last_inserted_dttm_azure = source.last_inserted_dttm_azure, target.last_updated_dttm_aws = source.last_updated_dttm_aws, target.loadId = source.loadId WHEN NOT MATCHED THEN INSERT (target.dated, target.city_code, target.plan, target.plan_revenue_crores, target.seq_no, target.last_inserted_dttm_azure, target.last_updated_dttm_aws, target.loadId) VALUES (source.dated, source.city_code, source.plans, source.plan_revenue_crores, source.seq_no, source.last_inserted_dttm_azure, source.last_updated_dttm_aws, source.loadId)",null,null,null
201,telecom/dim_cities,2001-01-01T15:13:23.963Z,dev_raw,dim_cities,dev_intermediate,dim_cities,null,null,null,null
202,telecom/dim_date,2001-01-01T15:13:23.963Z,dev_raw,dim_date,dev_intermediate,dim_date,null,null,null,null
204,telecom/dim_plan,2001-01-01T15:13:23.963Z,dev_raw,dim_plan,dev_intermediate,dim_plan,null,null,null,null
205,telecom/fact_company,2001-01-01T15:13:23.963Z,dev_raw,fact_metrices_share,dev_intermediate,fact_metrices_share,"merge into {intermediate_schema}.{intermediate_table} target using temp_view source ON source.seq_no = target.seq_no WHEN MATCHED THEN UPDATE SET target.dated = source.dated, target.city_code = source.city_code, target.company = source.company, target.company_revenue_crores = source.company_revenue_crores, target.arpu = source.arpu, target.active_users_lakhs = source.active_users_lakhs, target.unsubscribed_users_lakhs = source.unsubscribed_users_lakhs, target.seq_no = source.seq_no, target.last_inserted_dttm_azure = source.last_inserted_dttm_azure, target.last_updated_dttm_aws = source.last_updated_dttm_aws, target.loadId = source.loadId WHEN NOT MATCHED THEN insert ( target.dated, target.city_code, target.company, target.company_revenue_crores, target.arpu, target.active_users_lakhs, target.unsubscribed_users_lakhs, target.seq_no, target.last_inserted_dttm_azure, target.last_updated_dttm_gcp, target.loadId ) values ( source.dated, source.city_code, source.company, source.company_revenue_crores, source.arpu, source.active_users_lakhs, source.unsubscribed_users_lakhs, source.seq_no, source.last_inserted_dttm_azure, last_updated_dttm_aws, source.loadId )",null,null,null
206,telecom/fact_market,2001-01-01T15:13:23.963Z,dev_raw,fact_market_share,dev_intermediate,fact_market_share,"merge into {intermediate_schema}.{intermediate_table} target using temp_view source on source.seq_no = target.seq_no when matched then update set target.dated = source.dated, target.city_code = source.city_code, target.tmv_city_crores = source.tmv_city_crores, target.company = source.company, target.ms_pct = source.ms_pct, target.seq_no = source.seq_no, target.last_inserted_dttm_azure = source.last_inserted_dttm_azure, target.last_updated_dttm_aws = source.last_updated_dttm_aws, target.loadId = source.loadId when not matched then insert (target.dated, target.city_code, target.tmv_city_crores, target.company, target.ms_pct, target.seq_no, target.last_inserted_dttm_azure, target.last_updated_dttm_aws, target.loadId) values (source.dated, source.city_code, source.tmv_city_crores, source.company, source.ms_pct, source.seq_no, source.last_inserted_dttm_azure, source.last_updated_dttm_aws, source.loadId)",null,null,null
208,null,null,null,null,dev_intermediate,null,null,dev_curated,metrices_share,"WITH result AS ( SELECT dd.before_or_after_5g, cities.city_name, dd.month_name, dd.time_period, metrix.* FROM {intermediate_schema}.fact_metrices_share AS metrix JOIN {intermediate_schema}.dim_date AS dd ON metrix.dated = dd.dated JOIN {intermediate_schema}.dim_cities AS cities ON metrix.city_code = cities.city_code ) MERGE INTO {curated_schema}.{curated_table} AS target USING result AS source ON source.seq_no = target.seq_no WHEN MATCHED THEN UPDATE SET target.before_or_after_5g = source.before_or_after_5g, target.city_name = source.city_name, target.month_name = source.month_name, target.time_period = source.time_period, target.dated = source.dated, target.city_code = source.city_code, target.company = source.company, target.company_revenue_crores = source.company_revenue_crores, target.arpu = source.arpu, target.active_users_lakhs = source.active_users_lakhs, target.unsubscribed_users_lakhs = source.unsubscribed_users_lakhs, target.seq_no = source.seq_no, target.last_inserted_dttm_azure = source.last_inserted_dttm_azure, target.last_updated_dttm_aws = source.last_updated_dttm_aws, target.loadId = '{loadId}' WHEN NOT MATCHED THEN INSERT ( target.before_or_after_5g, target.city_name, target.month_name, target.time_period, target.dated, target.city_code, target.company, target.company_revenue_crores, target.arpu, target.active_users_lakhs, target.unsubscribed_users_lakhs, target.seq_no, target.last_inserted_dttm_azure, target.last_updated_dttm_aws, target.loadId ) VALUES ( source.before_or_after_5g, source.city_name, source.month_name, source.time_period, source.dated, source.city_code, source.company, source.company_revenue_crores, source.arpu, source.active_users_lakhs, source.unsubscribed_users_lakhs, source.seq_no, source.last_inserted_dttm_azure, source.last_updated_dttm_aws, '{loadId}' )"
209,null,null,null,null,dev_intermediate,null,null,dev_curated,market_share,"WITH result AS ( SELECT dd.before_or_after_5g, cities.city_name, dd.month_name, dd.time_period, fm.* FROM {intermediate_schema}.fact_market_share AS fm JOIN {intermediate_schema}.dim_date AS dd ON dd.dated = fm.dated JOIN {intermediate_schema}.dim_cities AS cities ON cities.city_code = fm.city_code ) MERGE INTO {curated_schema}.{curated_table} AS target USING result AS source ON source.seq_no = target.seq_no WHEN MATCHED THEN UPDATE SET target.before_or_after_5g = source.before_or_after_5g, target.city_name = source.city_name, target.month_name = source.month_name, target.time_period = source.time_period, target.dated = source.dated, target.city_code = source.city_code, target.tmv_city_crores = source.tmv_city_crores, target.company = source.company, target.ms_pct = source.ms_pct, target.seq_no = source.seq_no, target.last_inserted_dttm_azure = source.last_inserted_dttm_azure, target.last_updated_dttm_aws = source.last_updated_dttm_aws, target.loadId = '{loadId}' WHEN NOT MATCHED THEN INSERT ( target.before_or_after_5g, target.city_name, target.month_name, target.time_period, target.dated, target.city_code, target.tmv_city_crores, target.company, target.ms_pct, target.seq_no, target.last_inserted_dttm_azure, target.last_updated_dttm_aws, target.loadId ) VALUES ( source.before_or_after_5g, source.city_name, source.month_name, source.time_period, source.dated, source.city_code, source.tmv_city_crores, source.company, source.ms_pct, source.seq_no, source.last_inserted_dttm_azure, source.last_updated_dttm_aws, '{loadId}' )"
210,null,null,null,null,dev_intermediate,null,null,dev_curated,plan_revenue,"WITH result AS ( SELECT dd.before_or_after_5g, cities.city_name, dd.month_name, dd.time_period, pl.plan_description, revenue.* FROM {intermediate_schema}.fact_plan_revenue AS revenue JOIN {intermediate_schema}.dim_date AS dd ON revenue.dated = dd.dated JOIN {intermediate_schema}.dim_cities AS cities ON revenue.city_code = cities.city_code JOIN {intermediate_schema}.dim_plan AS pl ON revenue.plan = pl.plan ) MERGE INTO {curated_schema}.{curated_table} AS target USING result AS source ON source.seq_no = target.seq_no WHEN MATCHED THEN UPDATE SET target.before_or_after_5g = source.before_or_after_5g, target.city_name = source.city_name, target.month_name = source.month_name, target.time_period = source.time_period, target.plan_description = source.plan_description, target.dated = source.dated, target.city_code = source.city_code, target.plan = source.plan, target.plan_revenue_crores = source.plan_revenue_crores, target.seq_no = source.seq_no, target.last_inserted_dttm_azure = source.last_inserted_dttm_azure, target.last_updated_dttm_aws = source.last_updated_dttm_aws, target.loadId = '{loadId}' WHEN NOT MATCHED THEN INSERT ( target.before_or_after_5g, target.city_name, target.month_name, target.time_period, target.plan_description, target.dated, target.city_code, target.plan, target.plan_revenue_crores, target.seq_no, target.last_inserted_dttm_azure, target.last_updated_dttm_aws, target.loadId ) VALUES ( source.before_or_after_5g, source.city_name, source.month_name, source.time_period, source.plan_description, source.dated, source.city_code, source.plan, source.plan_revenue_crores, source.seq_no, source.last_inserted_dttm_azure, source.last_updated_dttm_aws, '{loadId}' )"

In [0]:
%sql
truncate table metadata_schema.tbl_parameters;